<div class="row py-2 border-top">
  <div class="col-4 my-auto">
    <%= pig.name %>
  </div>
  <div class="col-4 my-auto">
    <%= pig.age %>
  </div>
  <div class="col-4">
    <div class="d-flex justify-content-end">
      <%= link_to "編集", edit_pig_path(pig), class: "btn btn-sm btn-outline-primary me-2" %>
      <%= button_to "削除", pig, method: :delete, class: "btn btn-sm btn-outline-danger" %>
    </div>
  </div>
</div>
